<div class="d-flex justify-content-evenly mb-4">
    <div class="d-flex w-50 justify-content-evenly">
        <div *ngFor="let teeth of firstSection">
            <app-teeth [teethNumber]="teeth.number" (selectTeethEvent)="teethSelected($event)"
                [selected]="teeth.number === selectedTeeth"></app-teeth>
        </div>
    </div>
    <div class="d-flex w-50 justify-content-evenly">
        <div *ngFor="let teeth of secondSection">
            <app-teeth [teethNumber]="teeth.number" (selectTeethEvent)="teethSelected($event)"
                [selected]="teeth.number === selectedTeeth"></app-teeth>
        </div>
    </div>
</div>
<div class="d-flex justify-content-evenly">
    <div class="d-flex w-50 justify-content-evenly">
        <div *ngFor="let teeth of thirdSection">
            <app-teeth [teethNumber]="teeth.number" (selectTeethEvent)="teethSelected($event)"
                [selected]="teeth.number === selectedTeeth"></app-teeth>
        </div>
    </div>
    <div class="d-flex w-50 justify-content-evenly">
        <div *ngFor="let teeth of fourthSection">
            <app-teeth [teethNumber]="teeth.number" (selectTeethEvent)="teethSelected($event)"
                [selected]="teeth.number === selectedTeeth"></app-teeth>
        </div>
    </div>
</div>