<app-navbar></app-navbar>

<div class="container body">
    <ng-template #loader>
        <div class="loader-container fadeIn fast">
            <app-loader></app-loader>
        </div>
    </ng-template>

    <ng-container *ngIf="(patient$ | async) as patient; else loader">
        <div class="row mt-3 animated fadeIn">
            <div class="col-md-8 d-flex flex-row justify-content-start align-items-center">
                <img src="../../../assets/noimage.png" class="rounded me-4" width="100" />
                <h2>{{ patient.firstName + ' ' + patient.lastName }}</h2>
            </div>
            <div class="col-md-4 d-flex flex-row justify-content-end align-items-center">
                <a class="btn btn-lg btn-outline-secondary fs-5 me-4" [routerLink]="['/patient', patient.uid]">
                    <i class="bi bi-pencil"></i>
                </a>
                <ul class="list-inline mt-3">
                    <li class="list-inline-item"><a routerLink="/home">Volver</a></li>
                </ul>
            </div>
        </div>

        <div class="row mt-3 animated fadeIn">
            <form [formGroup]="patientForm">
                <div class="row g-3">
                    <div class="col-sm-4">
                        <label for="dni" class="form-label">DNI</label>
                        <input formControlName="dni" type="text" class="form-control" id="dni" placeholder=""
                            [value]="patient.dni">
                    </div>

                    <div class="col-sm-4">
                        <label for="cuil" class="form-label">CUIL</label>
                        <input formControlName="cuil" type="text" class="form-control" id="cuil" placeholder=""
                            [value]="patient.cuil">
                    </div>

                    <div class="col-sm-4">
                        <label for="dob" class="form-label">Fecha de Nacimiento</label>
                        <input formControlName="dob" type="date" class="form-control" id="dob" placeholder=""
                            [value]="patient.dob">
                    </div>

                    <div class="col-sm-4">
                        <label for=" telefono" class="form-label">Teléfono</label>
                        <input formControlName="telephone" type="text" class="form-control" id="telefono" placeholder=""
                            value="">
                    </div>

                    <div class="col-sm-4">
                        <label for=" medicalService" class="form-label">Obra Social</label>
                        <input formControlName="medicalService" type="text" class="form-control" id="medicalService"
                            placeholder="" value="">
                    </div>

                    <div class="col-sm-4">
                        <label for=" medicalServiceNumber" class="form-label">Número de Socio</label>
                        <input formControlName="medicalServiceNumber" type="text" class="form-control"
                            id="medicalServiceNumber" placeholder="" value="">
                    </div>

                    <hr>

                    <h5 class="mt-0">Enfermedades y Alergias</h5>

                    <div class="d-flex justify-content-evenly fs-5" *ngIf="patientHasIllnesses">
                        <span class="badge rounded-pill text-bg-warning" *ngIf="patient.alergies">Alergias</span>
                        <span class="badge rounded-pill text-bg-warning" *ngIf="patient.diabetes">Diabetes</span>
                        <span class="badge rounded-pill text-bg-warning" *ngIf="patient.reumaticFiber">Fiebre
                            Reumática</span>
                        <span class="badge rounded-pill text-bg-warning" *ngIf="patient.epilepsy">Epilepsia</span>
                        <span class="badge rounded-pill text-bg-warning" *ngIf="patient.cardiopathy">Cardiopatías</span>
                        <span class="badge rounded-pill text-bg-warning" *ngIf="patient.hepatithis">Hepatitis</span>
                        <span class="badge rounded-pill text-bg-warning" *ngIf="patient.other">Otra</span>
                    </div>

                    <div class="col-sm-4">
                        <label for="otherIllnesses" class="form-label">Otras enfermedades</label>
                        <textarea formControlName="otherIllnesses" type="text" class="form-control" id="otherIllnesses"
                            placeholder="" value="" style="resize: none;" rows="5"></textarea>
                    </div>

                    <div class="col-sm-4">
                        <label for="otherDetails" class="form-label">Otras particularidades</label>
                        <textarea formControlName="otherDetails" type="text" class="form-control" id="otherDetails"
                            placeholder="(medicamentos, dosis, alergias, ...)" value="" style="resize: none;"
                            rows="5"></textarea>
                    </div>

                    <div class="col-sm-4">
                        <label for="generalApretiation" class="form-label">Apreciación General</label>
                        <textarea formControlName="generalApretiation" type="text" class="form-control"
                            id="generalApretiation" placeholder="" value="" style="resize: none;" rows="5"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <hr>

        <div class="row animated fadeIn my-4">
            <div class="col-md-12">
                <app-teeths></app-teeths>
            </div>
        </div>

        <hr>

        <div class="row mt-3 animated fadeIn">
            <div class="col-md-12 text-end">
                <a type="button" class="btn btn-outline-primary fs-5" routerLink="/patient">
                    <i class="bi bi-plus-circle me-1"></i> Crear Intervención
                </a>
            </div>
        </div>

        <ng-template #noInterventions>
            <div class="d-flex justify-content-center align-items-center flex-column fadeIn fast">
                <div class="row pt-4">
                    <div class="col-md-12">
                        <img src="../../../assets/not-found-copy.png" class="rounded" width="400" />
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-12 text-center">
                        <h5>No se han encontrado intervenciones para {{patient.firstName + ' ' + patient.lastName}}</h5>
                    </div>
                </div>
                <div class="row pt-4">
                    <a type="button" class="btn btn-outline-primary fs-5 col-md-12" routerLink="/patient">
                        <i class="bi bi-plus-circle me-1"></i> Crear Intervención
                    </a>
                </div>
            </div>
        </ng-template>

        <div class="main-container fadeIn fast mt-5">
            <ng-container *ngIf="(interventions$ | async) as interventions; else loader">
                <ng-container *ngIf="interventions.totalCount > 0; else noInterventions">
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="text-center">Fecha</th>
                                        <th class="text-center">Tratamiento</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor=" let intervention of interventions.interventions; let i=index">
                                        <td class="fs-4">{{ i + 1 }}</td>
                                        <td class="fs-4">{{ intervention.date }}</td>
                                        <td class="fs-4 text-center">
                                            <span class="badge rounded-pill text-bg-warning">Tratamiento</span>
                                            <span class="badge rounded-pill text-bg-warning">Extracción</span>
                                            <span class="badge rounded-pill text-bg-warning">Prótesis</span>
                                            <span class="badge rounded-pill text-bg-warning">Endodoncia</span>
                                            <span class="badge rounded-pill text-bg-warning">Periodoncia</span>
                                            <span class="badge rounded-pill text-bg-warning">Ortodoncia</span>
                                            <span class="badge rounded-pill text-bg-warning">Implante</span>
                                            <span class="badge rounded-pill text-bg-warning">Otro</span>
                                        </td>
                                        <td>
                                            <a class="btn btn-md btn-outline-secondary fs-5 me-2"
                                                [routerLink]="['..', 'intervention', intervention.uid]">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            <button class="btn btn-md btn-outline-danger fs-5"
                                                (click)="deleteIntervention(intervention.uid)">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>
<app-footer class="footer"></app-footer>