<main class="form w-100 m-auto mt-5">
    <form [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()">
        <img src="../assets/logo.svg" alt="" width="250" height="100">
        <h1 class="h3 mb-3 fw-normal">Restaurar Contraseña</h1>

        <p class="mt-3 mb-3 text-body-secondary"><a routerLink="/login">Volver</a></p>
        <p>¿Olvidaste tu contraseña? No te preocupes, estamos aquí para ayudarte a restaurarla. Por favor, sigue los
            pasos a continuación:
        </p>
        <ol>
            <li>
                <p>Ingresa tu dirección de correo electrónico registrada en la aplicación.</p>
            </li>
            <li>
                <p>Te enviaremos un correo electrónico con un enlace seguro para restablecer tu contraseña.</p>
            </li>
            <li>
                <p>Haz clic en el enlace proporcionado en el correo electrónico. Si no ves el correo en tu bandeja de
                    entrada, verifica la carpeta de spam o correo no deseado.</p>
            </li>
            <li>
                <p>Sigue las instrucciones en la página de restablecimiento de contraseña para crear una nueva
                    contraseña segura.</p>
            </li>
            <li>
                <p>Finalmente, inicia sesión con tu nueva contraseña y disfruta de tu experiencia en nuestra
                    aplicación.</p>
            </li>
        </ol>
        <p><strong>
                Ten en cuenta que tendrás 1 hora para restablecer tu contraseña. Después de eso, el enlace expirará y
                deberás volver a solicitar un correo electrónico de restablecimiento de contraseña.
            </strong></p>

        <div class="form-floating pb-1">
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="tu@email.com"
                [ngClass]="{'is-invalid': isEmailInvalid}">
            <label for="email">Correo electrónico</label>
        </div>
        <button class="w-100 btn btn-primary btn-lg " type="submit" [ngClass]="{'disabled': showLoader}">
            <span class="spinner-border spinner-border-md" *ngIf="showLoader"></span>
            <span *ngIf="!showLoader">Restaurar Contraseña</span>
        </button>
        <p class="mt-3 mb-1 text-body-secondary"><a routerLink="/login">Volver</a></p>
        <p class="mt-3 mb-3 text-body-secondary"><a routerLink="/register">Crea tu cuenta</a></p>
        <p>
            Si tienes algún problema o necesitas asistencia adicional, no dudes en contactarnos en
            <a href="support@dentivacare.com" target="_blank">support@dentivacare.com</a>. Estamos aquí para ayudarte.
            ¡Gracias por
            confiar en nosotros!
        </p>
        <p class="mt-3 mb-3 text-body-secondary">&copy; 2023 Dentiva Care</p>
    </form>
</main>