<form [formGroup]="lineInterventionForm" class="mb-2">
    <div class="d-flex align-items-center justify-content-evenly g-1 py-2 rounded"
        [ngClass]="{'border border-danger-subtle': lineInterventionForm.invalid && lineInterventionForm.dirty}">
        <div class="col-sm-3">
            <!-- <label for="treatment" class="form-label">Tratamiento<span class="text-danger"> *</span></label> -->
            <select formControlName="treatment" class="form-select" id="treatment" (change)="updateLineIntervention()">
                <option value="" selected>Tratamiento</option>
                <option *ngFor="let treatment of availableTreatments">{{ treatment }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="isTreatmentInvalid">
                Seleccione un tratamiento
            </div>
        </div>

        <div class="col-sm-2">
            <!-- <label for="teethNumber" class="form-label">Diente (número)</label> -->
            <select formControlName="teethNumber" class="form-select" id="teethNumber"
                (change)="updateLineIntervention()">
                <option value="Diente" selected>Diente</option>
                <option *ngFor="let teeth of teeths" [value]="teeth.number">{{teeth.number}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="isTeethNumberInvalid">
                Seleccione un diente
            </div>
        </div>

        <div class="col-sm-2">
            <!-- <label for="teethSection" class="form-label">Sección del diente</label> -->
            <select formControlName="teethSection" class="form-select" id="teethSection"
                (change)="updateLineIntervention()">
                <option value="" selected>Sección</option>
                <option *ngFor="let section of availableTeethSections">{{section}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="isTeethSectionInvalid">
                Seleccione una sección
            </div>
        </div>

        <div class="col-sm-1 d-flex justify-content-center">
            <input formControlName="done" type="checkbox" class="btn-check" [id]="'checkbox-' + id" autocomplete="off"
                (change)="updateLineIntervention()">
            <label class="btn btn-outline-success" [for]="'checkbox-' + id">Hecho</label>
        </div>

        <div class="col-sm-1 d-flex justify-content-center">
            <button class="btn btn-md btn-outline-danger fs-5" (click)="deleteLineIntervention(id)">
                <i class="bi bi-trash"></i>
            </button>
        </div>

    </div>
</form>